.title{
  font-size: larger;
  color: firebrick;
  text-align: center;
  font-style: italic;
  }

  p.intro {
    font-style: italic;
  }

  .dinho-image {
    float: right;
    width: 25%;
    height: 25%;
  }