.title{
  font-size: larger;
  color: firebrick;
  text-align: center;
  font-style: italic;
  }

  p.intro {
    font-style: italic;
  }

  .dinho-image {
    float: right;
    width: 20%;
    height: 20%;
  }

  .Hobbies {
    width: 25%;
    border: solid black;
    border-width: 2px;
    background-color: orange;
    font-style: italic;
  }

  p.epicodus {
    color: purple;
  }

  .highlight {
    font-size: larger;
    color: red;
  }